.card {
  width: 100%;
  max-width: 300px;
  height: 405px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--colorFive);
  border-radius: 10px;
  margin: 20px 0;
}
.btn {
  width: 100%;
  height: 30px;
  display: flex;
  justify-content: space-between;
  padding: 5px;
}
.btn button {
  outline: none;
  border: none;
  background: none;
  width: 20px;
  height: 20px;
  font-size: 1.8rem;
  color: var(--colorOne);
  cursor: pointer;
  transition: all .3s linear;
}
.btn button:hover {
  transform: scale(1.1);
}
.fig {
  width: 100%;
}
.fig img {
  width: 100%;
}
.data {
  width: 100%;
  height: 80px;
  padding: 10px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.data h2 {
  margin-bottom: 10px;
}
.data h2 a {
  text-decoration: none;
  font-size: 2.5rem;
  font-weight: bold;
  color: var(--colorOne);
}
.data h2 a:hover {
  color: #fb5607;
}
.data h4 {
  font-size: 1.6rem;
  color: var(--colorOne);
  user-select: none;
}

@media screen and (min-width: 550px) {
  .card {
    margin: 20px 30px;
  }
}
@media screen and (min-width: 1000px) {
  .card {
    margin: 20px 80px;
  }
}
